.friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion {
  max-width: 40rem;
  display: flex;
  justify-content: center;
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease;
}

.accordion-active {
  height: 5rem;
  max-width: 40rem;
  display: flex;
  justify-content: center;
  position: relative;

  transition: 0.4s ease;
}

.display-friends {
  
  text-decoration: none;
  color: #bd00ff;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  margin: .5rem;
  border: none;
  transition: 0.4s ease;
  background-color: #5d5775f6;
}

.display-friends:hover {
  color: #8c00ff;
  background-color: rgba(93, 87, 117, 0.8);
}

.friend-card {
  background-color: #8c00ff;
  margin: .5rem;
  border-radius: 1rem;
}

.send-message-button {
  
  text-decoration: none;
  color: #bd00ff;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;

  border: none;
  transition: 0.4s ease;
  background-color: #5d5775f6;
}

.send-message-button:hover {
  color: #8c00ff;
  background-color: rgba(93, 87, 117, 0.8);
}

.friend-name {
  color: #eccb73;
}
