.linkButton-container {
  display: grid;
}

.link-button {
  display: inline;
  text-decoration: none;
  color: #bd00ff;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  margin: 1rem;
  border: none;
  transition: 0.4s ease;
}
